@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Shadows+Into+Light&display=swap');

body {
    background-image: url("./assets/images/background.jpg");
  
  background-color: hsl(0, 0%, 0%);
  
 }

 @keyframes anim-ns {
  0% {
    opacity: 1;
    transform: translateY(-1000%);
  }
 
  
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.ns {
  animation: 1.3s anim-ns ;
}

